* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /*removes default underlines*/
    list-style-type: none; /*removes bullets from list items*/
    outline: none;
    /* font-family: "Bellota Text", cursive; */
    font-weight: 400;
    background-color: #fbf5b4;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}